Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, managed, and stored in a way that allows for efficient retrieval and manipulation of information. Databases are used to store and manage vast amounts of data for various applications and systems, ranging from simple lists to complex data structures supporting critical business operations.


SQL Databases:

Based on the relational model with predefined schema and tables.

Data is stored in rows and columns, representing a structured format.

Follows ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity.

Uses Structured Query Language (SQL) for querying and managing data.

Suitable for applications with well-defined and stable schemas.

Good for complex queries and relationships between data.

Examples: MySQL, PostgreSQL, Oracle, SQL Server.

NoSQL Databases:

Embrace various data models like key-value, document, column-family, or graph.

Schema flexibility allows for dynamic and unstructured data storage.

Often designed to be distributed and scalable, making them suitable for big data applications.

May not guarantee full ACID properties but focus on high availability and partition tolerance (CAP theorem).

Uses different query languages or APIs specific to the database type (e.g., MongoDB's BSON format).

Ideal for applications with evolving or unpredictable data schemas.

Examples: MongoDB, Cassandra, Couchbase, Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects.

**CREATE:** Used to create new database objects like tables, indexes, or views. For example:

CREATE TABLE employees (

    id INT PRIMARY KEY,
    
    name VARCHAR(50),
    
    age INT
    
);

**DROP:** Used to delete existing database objects like tables or indexes. For example:

DROP TABLE employees;

**ALTER:** Used to modify the structure of an existing database object, such as adding or removing columns. For example:

ALTER TABLE employees

ADD salary DECIMAL(10, 2);

**TRUNCATE:** Used to remove all rows from a table but keeps the table structure intact. Unlike DROP, it doesn't delete the table itself. For example:

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is another subset of SQL (Structured Query Language) used to manipulate the data stored in a database. DML statements are used to insert, update, and delete data within the tables of the database.

**INSERT:** Used to add new records (rows) into a table. For example:

INSERT INTO employees (id, name, age, salary)

VALUES (1, 'John Doe', 30, 50000);

**UPDATE:** Used to modify existing records in a table. It allows changing specific column values based on certain conditions. For example:

UPDATE employees

SET salary = 55000

WHERE id = 1;


**DELETE:** Used to remove one or more records from a table based on certain conditions. For example:

DELETE FROM employees

WHERE age > 60;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL is primarily focused on fetching data from database tables.

The most common DQL statement is SELECT, which allows you to retrieve specific data from one or more tables based on specified conditions.

Example:

SELECT name, age

FROM employees

WHERE salary > 50000;

Q5. Explain Primary Key and Foreign Key.

**Primary Key:**

A Primary Key is a unique identifier for a record (row) in a database table.

It ensures that each row in the table is uniquely identified and distinguishes it from other rows in the same table.

The primary key constraint enforces the uniqueness and non-nullability of the key's value.

By definition, a primary key cannot have duplicate or NULL values.

It provides a way to efficiently index and access data in the table.

In most databases, a primary key is automatically indexed for faster searching and retrieval.

It is a critical concept in database design as it helps establish relationships between different tables.

**Foreign Key:**

A Foreign Key is a field or set of fields in a table that references the primary key of another table.

It creates a link or relationship between two tables, representing a parent-child relationship between them.

The foreign key constraint ensures that the values in the foreign key column(s) correspond to existing values in the primary key of the referenced table or are NULL.

It helps enforce data integrity and referential integrity, ensuring that the relationships between related tables remain consistent.

Foreign keys are used to establish associations between tables, enabling developers to retrieve related data across multiple tables using joins.

When a foreign key references a primary key, it establishes a "one-to-many" relationship between the two tables.

It allows for cascading actions, such as cascading deletes or updates, which can automatically propagate changes across related tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Replace these with your actual MySQL server credentials
db_config = {
    "host": "localhost",
    "user": "your_username",
    "password": "your_password",
    "database": "your_database_name",
}

# Connect to the MySQL server
conn = mysql.connector.connect(**db_config)

# Check if the connection was successful
if conn.is_connected():
    print('Connected to MySQL server')
else:
    print('Failed to connect to MySQL server')

# Perform database operations...

# Close the connection when you're done
conn.close()

In [ ]:
mycursor = conn.cursor()
mycursor.execute("CREATE DATABASE employees")

mycursor.execute("SELECT * FROM employees")
rows = mycursor.fetchall()  # Fetch all rows returned by the query
for row in rows:
    print(row)

**cursor():** The cursor() method is used to create a cursor object, which allows you to execute SQL statements and interact with the database. The cursor acts as a pointer to the result set of a query. It allows you to fetch data, iterate over rows, and perform various operations on the data.

**execute():** The execute() method is used to execute SQL queries or statements on the MySQL server. It takes the SQL query as a string parameter and executes it. For queries that return data (e.g., SELECT), you can use fetchall(), fetchone(), or fetchmany() methods on the cursor to retrieve the results.

Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution for the clauses is as follows:

**FROM:** Specifies the table or tables from which data will be retrieved.

**WHERE:** Filters the rows based on the specified conditions. It acts as a filter for the rows retrieved from the tables specified in the FROM clause.

**GROUP BY:** Groups the rows based on the specified columns. It is used with aggregate functions like SUM, COUNT, AVG, etc., to perform calculations on groups of data.

**HAVING:** Filters the grouped rows based on the specified conditions. It acts as a filter for the groups created by the GROUP BY clause.

**SELECT:** Specifies the columns to be retrieved from the tables or the expressions to be computed. It is applied after the FROM, WHERE, GROUP BY, and HAVING clauses to determine the final output columns.

**ORDER BY:** Sorts the result set based on the specified columns. It is applied after all the previous clauses to determine the order of the final output.

**LIMIT/OFFSET**: Limits the number of rows returned or skips a specified number of rows from the beginning of the result set. This clause is typically used for pagination or to restrict the number of rows returned.